@charset "UTF-8";

// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";
@import "custom/mixins";

// Variables;
@import "components/variables";
@import "custom/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
//@import "components/roboto";
@import "components/typography";
//@import "components/cards";
//@import "components/toast";
//@import "components/tabs";
//@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
//@import "components/modal";
@import "components/collapsible";
//@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
//@import "components/carousel";
//@import "components/date_picker/default";
//@import "components/date_picker/default.date";
//@import "components/date_picker/default.time";

/* Preloader --- */

#preloader-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  .preloader-wrapper {
    position: relative;
    left: 50%;
    top: 50%;
    margin: -32px 0 0 -32px;
    z-index: 1001;
  }
  .preloader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: $secondary-color;
    z-index: 1000;
    @include transform(translateX(0));
    &.section-left {
      left: 0;
    }
    &.section-right {
      right: 0;
    }
  }
}

.empty {
  * {
    visibility: hidden;
  }
  #preloader-box, #preloader-box * {
    visibility: visible;
  }
}

.loaded {
  #preloader-box {
    .preloader-section {
      @include transition(all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000));
      &.section-left {
        @include transform(translateX(-100%));
      }
      &.section-right {
        @include transform(translateX(100%));
      }
    }
    .preloader-wrapper {
      opacity: 0;
      @include transition(all 0.3s ease-out);
    }
    visibility: hidden;
    @include transform(translateY(-100%));
    @include transition(all 0.3s 1s ease-out);
  }
  * {
    visibility: visible;
  }
}

.no-js {
  #preloader-box {
    display: none;
  }
}

/* Styles --- */

html {
  font-family: $primary-font-family;
  font-weight: 300;
  font-size: 1.05rem;
  color: $primary-color;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

address {
  font-style: normal;
}

h1, h2, h3, h4 {
  color: $secondary-color;
  font-family: $secondary-font-family;
  margin-bottom: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

strong {
  color: $black-color;
}

header {
  position: fixed;
  width: 100%;
  z-index: 9;
  .quick-contacts {
    background-color: $secondary-color;
    color: $white-color;
    padding: 0.5rem 0;
    font-size: 80%;
    text-align: right;
    .material-icons {
      display: inline;
      color: $secondary-light-color;
    }
    a {
      color: $white-color;
      &:hover {
        color: $secondary-light-color;
      }
    }
    * {
      vertical-align: middle;
    }
  }
  nav {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12), 0 7px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: $white-color;
    color: $secondary-color;
    .button-collapse {
      color: $secondary-color;
    }
    ul {
      li {
        text-transform: lowercase;
        @include transition(background-color 0.5s);
        &:hover {
          background-color: $secondary-light-color;
          a {
            color: $white-color;
          }
        }
        &.active {
          background-color: $secondary-color;
          a {
            color: $white-color;
            .material-icons {
              color: $secondary-light-color;
            }
          }
        }
      }
      a {
        color: $primary-color;
        @include transition(color 0.8s);
        .material-icons {
          color: $secondary-color;
        }
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
    .side-nav {
      .active {
        background-color: $secondary-color;
      }
    }
    .dropdown-content {
      li {
        background-color: $white-color;
        &:hover {
          background-color: $secondary-light-color;
        }
        a {
          color: $secondary-color;
          &:hover {
            color: $white-color;
          }
        }
      }
    }
  }
}

main {
  margin: 2rem 0 0;
  .slider {
    margin-top: 70px;
    h3, h5 {
      color: $white-color;
    }
    .indicator-item.active {
      background-color: $secondary-color !important;
    }
  }
  .services {
    margin: 3rem 0;
    text-align: center;
    .material-icons {
      color: $third-color;
    }
    h3 {
      font-size: 1.8rem;
    }
    .btn-flat {
      color: $secondary-color;
    }
  }
  .about {
    padding: 3rem 0;
    background-color: $secondary-color;
    color: $white-color;
    h4 {
      font-size: 1.6rem;
      color: $secondary-light-color;
      margin-bottom: 1rem;
    }
    .collapsible-header {
      background-color: $secondary-color;
    }
    .progress {
      background-color: $white-color;
      .determinate {
        background-color: $third-color;
      }
    }
    .why {
      @include animation-delay(0.3s);
    }
    .what {
      @include animation-delay(0.6s);
    }
  }
  .contacts {
    padding: 3rem 0;
    background-color: $grey-lightest-color;
    h4 {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
    address {
      margin-bottom: 2rem;
      padding: 0.5rem 1rem;
      background-color: $white-color;
    }
    .form {
      @include animation-delay(0.3s);
    }
    .address {
      @include animation-delay(0.6s);
    }
  }
}

footer {
  font-size: 90%;
  a {
    color: $grey-color;
    &:hover {
      color: $black-color;
    }
  }
}

#sidenav-overlay {
  left: 240px;
}

// IE 10, 11 hack
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  // Flexbox emulation begin
  html,
  body {
    height: 100%;
  }

  body {
    display: table;
    width: 100%;
  }

  .page-row {
    display: table-row;
    height: 1px;
  }

  .page-row-expanded {
    height: 100%;
  }
  // Flexbox emulation end

  .dropdown-button {
    padding-right: 35px;
    background: transparent url('#{$image-path}arrow_drop_down.png') no-repeat center right;
    .material-icons {
      display: none;
    }
  }
}